{% extends 'base.html' %}

{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Details Form</title>
</head>
<body>
<br><br>

<form class="row g-3" method="post">

    <h3>Driver Details Form</h3>

<div class="col-md-6">
        <label class="form-label" for="dname" >Driver Name</label>
        <input class="form-control" id="dname" name="dname" placeholder="Driver Name" type="text" required>
    </div>

    <div class="col-md-6">
        <label class="form-label" for="emid">Emirates Id</label>
        <input class="form-control" id="emid" name="emid" placeholder="Emirates Id" type="number" required>
    </div>




    <div class="col-md-6">
        <label class="form-label" for="emidvalidity">Emirates Id Validity</label>
        <div class="input-group">
            <input class="form-control" id="emidvalidity" name="emidvalidity" placeholder="Emirates Id Validity"
                   type="text" required>
            <span class="input-group-text">
      <i class="fa fa-calendar"></i></span>
        </div>
    </div>

 <div class="col-md-6">
        <label class="form-label" for="licno">License No</label>
        <input class="form-control" id="licno" name="licno" placeholder="License No" type="text" required>
    </div>

    <div class="col-md-6">
        <label class="form-label" for="licsdate">License Start Date</label>
        <div class="input-group">
            <input class="form-control" id="licsdate" name="licsdate" placeholder="License Start Date" type="text" required>
            <span class="input-group-text">
      <i class="fa fa-calendar"></i></span>
        </div>
    </div>


    <div class="col-md-6">
        <label class="form-label" for="licedate">License End Date</label>
        <div class="input-group">
            <input class="form-control" id="licedate" name="licedate" placeholder="License End Date" type="text" required>
            <span class="input-group-text">
      <i class="fa fa-calendar"></i></span>
        </div>
    </div>


    <div class="col-md-6">
        <label class="form-label" for="passportno">Passport No</label>
        <input class="form-control" id="passportno" name="passportno" placeholder="Passport No" type="text" required>
    </div>

        <div class="col-md-6">
        <label class="form-label" for="passportval">Emirates Id Validity</label>
        <div class="input-group">
            <input class="form-control" id="passportval" name="passportval" placeholder="Passport Validity"
                   type="text" required>
            <span class="input-group-text">
      <i class="fa fa-calendar"></i></span>
        </div>
    </div>


    <div class="col-md-6">
        <label class="form-label" for="sponsorname">Sponsor Name</label>
        <input class="form-control" id="sponsorname" name="sponsorname" placeholder="Sponsor Name" type="text" required>
    </div>


    <div class="col-12">
        <button class="btn btn-primary" type="submit" onclick="return validate();">Save</button>
    </div>

</form>


<script type="text/javascript">


<!-- show date-->
 <!--   Start of jquery function-->
        $(function() {

<!--emid validity Date setting-->
            $('#emidvalidity').datepicker({
            format: 'mm/dd/yyyy',
                 autoclose: true,
            });


            <!--Lic Start Date setting-->
$('#licsdate').datepicker({
            format: 'mm/dd/yyyy',
                        endDate: '+0d',
                 autoclose: true,
            });


            <!--Lic end Date setting-->
$('#licedate').datepicker({
            format: 'mm/dd/yyyy',
                 autoclose: true,
            });

                        <!--passport  date setting-->
$('#passportval').datepicker({
            format: 'mm/dd/yyyy',
                 autoclose: true,
            });




     }); <!--   end of jquery function-->


function validate()
{

licstartdate = document.getElementById("licsdate").value;
licenddate = document.getElementById("licedate").value;

alert(licstartdate + "   " +licenddate);

return false;
}





</script>

</body>

</html>

{% endblock %}
