<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!--    Home link-->
        <!--    Calling index function in main.py using jinja tag-->
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>

        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="{{ url_for('rentalAgreemnet')}}">Rental Agreement</a>-->
<!--                </li>-->


                <!--          Name Form-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="{{ url_for('home') }}">Form</a>-->
<!--                </li>-->


                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdown" role="button">
                        Forms
                    </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li class="nav-item">
                            <a class="dropdown-item" href="{{ url_for('driverdetails')}}">Driver details</a>
                        </li>

                        <li class="nav-item">
                            <a class="dropdown-item" href="{{ url_for('rentalAgreemnet')}}">Rental Agreement</a>
                        </li>

                    </ul>
                </li>

            </ul>

            <form class="d-flex">
                <!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                <button class="btn btn-outline-secondary" type="button" >
                    <a href="{{url_for('logout')}}" style="text-decoration: none;">Logout</a>
                    </button>
            </form>


        </div>
    </div>
</nav>