{% extends 'base.html' %}

{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rental Agreement Form</title>
</head>
<body>
<br><br>

<form class="row g-3" method="post">

<h3>Rental Agreement</h3>
    <div class="col-md-6">
        <label class="form-label" for="inputrano">Rental Agreement No</label>
        <input class="form-control" id="inputrano" name="inputrano" type="number">
    </div>
    <div class="col-md-6">
        <label class="form-label" for="inputPo">PO Number</label>
        <input class="form-control" id="inputPo" name="inputPo" type="text">
    </div>


    <div class="col-md-6">
        <label class="form-label" for="inputVehno">Vehicle No</label>
        <input class="form-control" id="inputVehno" name="inputVehno" placeholder="Vehicle No" type="text">
    </div>
    <div class="col-md-6">
        <label class="form-label" for="inputvehtype">Vehicle Type</label>
        <input class="form-control" id="inputvehtype" name="inputvehtype" onkeyup="showVehicles(this.value)"
               type="text">
        <div id="vehsuggestionList" name="vehsuggestionList"></div>
    </div>

    <div class="col-md-6">
        <label class="form-label" for="datetimepicker1">Start Date</label>
        <div class="input-group">
            <input class="form-control" id="datetimepicker1" name="datetimepicker1" type="text">
            <span class="input-group-text">
      <i class="fa fa-calendar"></i></span>
        </div>
    </div>

    <div class="col-md-6">
        <label class="form-label" for="datetimepicker2">End Date</label>
        <div class="input-group">
            <input class="form-control" id="datetimepicker2" name="datetimepicker2" type="text" onclick="selectEndDate()">
            <span class="input-group-text">
      <i class="fa fa-calendar"></i></span>
        </div>
    </div>


    <div class="col-md-6">
        <label class="form-label" for="drivername">Driver</label>
        <input class="form-control" id="drivername" name="drivername" placeholder="Driver Id" type="text">
    </div>

   <div class="col-md-6">
        <label class="form-label" for="payterms">Payment terms</label>
        <input class="form-control" id="payterms" name="payterms" placeholder="Payment Terms" type="text">
    </div>


    <div class="col-md-6">
        <label class="form-label" for="modofpayment">Mode of Payemt</label>
        <select class="form-select" id="modofpayment">
            <option value="debit" selected>Debit</option>
            <option value="credit">Credit</option>
            <option value="cash">Cash</option>
        </select>
    </div>

 <div class="col-md-6">
        <label class="form-label" for="advancepay">Advance Payment</label>
        <input class="form-control" id="advancepay" name="advancepay" placeholder="Advance Payment" type="number" step=".01">
    </div>

 <div class="col-md-6">
        <label class="form-label" for="receiptno">Receipt No</label>
        <input class="form-control" id="receiptno" name="receiptno" placeholder="Receipt No" type="text">
    </div>


      <div class="col-md-6">
        <label class="form-label" for="timepicker1">Time Out</label>
        <div class="input-group">
            <input class="form-control input-small" id="timepicker1" type="text">
            <span class="input-group-text">
      <i class="fa fa-clock-o"></i></span>
        </div>
    </div>

     <div class="col-md-6">
        <label class="form-label" for="kmout">Km Out</label>
        <input class="form-control" id="kmout" name="kmout" placeholder="Km Out" type="number">
    </div>

     <div class="col-md-6">
        <label class="form-label" for="kmagreed">Km Agreed</label>
        <input class="form-control" id="kmagreed" name="kmagreed" placeholder="Km Agreed" type="number">
    </div>


    <div class="col-md-6">
        <label class="form-label" for="termofagremnt">Term of Agreement</label>
        <select class="form-select" id="termofagremnt">
            <option value="daily" selected>Daily</option>
            <option value="weekly">Weekly</option>
            <option value="Yearly">yearly</option>
        </select>
    </div>

     <div class="col-md-6">
        <label class="form-label" for="rateagreed">Km Agreed</label>
        <input class="form-control" id="rateagreed" name="rateagreed" placeholder="Rate Agreed" type="number" step=".01">
    </div>

     <div class="col-md-6">
        <label class="form-label" for="totalrent">Km Agreed</label>
        <input class="form-control" id="totalrent" name="totalrent" placeholder="Total Rent" type="number" step=".01">
    </div>


<!--    <div class="col-md-2">-->
<!--        <label class="form-label" for="inputZip">Zip</label>-->
<!--        <input class="form-control" id="inputZip" type="text">-->
<!--    </div>-->
<!--    <div class="col-12">-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" id="gridCheck" type="checkbox">-->
<!--            <label class="form-check-label" for="gridCheck">-->
<!--                Check me out-->
<!--            </label>-->
<!--        </div>-->
<!--    </div>-->



    <div class="col-12">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>


<script type="text/javascript">


<!-- show date-->
        $(function() {
<!--Date setting-->
            $('#datetimepicker1').datepicker({
            format: 'mm/dd/yyyy',
                 autoclose: true,

            }).datepicker("setDate",'now');


<!--Date setting-->
$('#datetimepicker2').datepicker({
            format: 'mm/dd/yyyy',
                 autoclose: true,
                     startDate: new Date()
            });


<!-- Time set-->

           $('#timepicker1').datetimepicker({
			format: 'hh:mm:ss a',
			 icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }

		}).on("dp.change",function(e){
      var date = e.date;//e.date is a moment object
      var target = $(e.target).attr('name');
<!--      console.log(date.format("HH:mm:ss"))//get time by using format-->
  });






        });




<!--show ajax veh type-->

function showVehicles(inputString){
          $('#vehsuggestionList').show();

        if(inputString!=""){
        $.post('/getvehicle', {queryString: ""+inputString+""}, function(data){
        $('#vehsuggestionList').html(data);
                $('#vehsuggestionList').append(data.htmlresponse);
        });
        }

}

function fill(thisValue) {
  $('#inputvehtype').val(thisValue);
  $('#vehsuggestionList').hide();
  setTimeout("$('#vehsuggestionList').fadeOut();", 600);
}

function selectEndDate(){

console.log(String($('#datetimepicker1').val()));
var startdate = $('#datetimepicker1').val();

var formattedDate = new Date(startdate);

}

</script>


</body>

</html>

{% endblock %}
