{% extends 'base.html' %}

{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rental Agreement Form</title>
</head>
<body>
<br><br>
<br><br>

<form class="row g-3" method="post">


    <div class="col-md-6">
        <label class="form-label" for="inputrano">Rental Agreement No</label>
        <input class="form-control" id="inputrano" name="inputrano" type="number">
    </div>
    <div class="col-md-6">
        <label class="form-label" for="inputPo">PO Number</label>
        <input class="form-control" id="inputPo" name="inputPo" type="text">
    </div>


    <div class="col-md-6">
        <label class="form-label" for="inputVehno">Vehicle No</label>
        <input class="form-control" id="inputVehno" name="inputVehno" placeholder="Vehicle No" type="text">
    </div>
    <div class="col-md-6">
        <label class="form-label" for="inputvehtype">Vehicle Type</label>
        <input class="form-control" id="inputvehtype" name="inputvehtype" onkeyup="showVehicles(this.value)"
               type="text">
        <div id="vehsuggestionList" name="vehsuggestionList"></div>
    </div>

    <div class="col-md-6">
        <label class="form-label" for="datetimepicker1">Start Date</label>
        <div class="input-group">
            <input class="form-control" id="datetimepicker1" name="datetimepicker1" type="text">
            <span class="input-group-text">
      <i class="fa fa-calendar"></i></span>
        </div>
    </div>

    <div class="col-md-6">
        <label class="form-label" for="datetimepicker2">End Date</label>
        <div class="input-group">
            <input class="form-control" id="datetimepicker2" name="datetimepicker2" type="text" onclick="selectEndDate()">
            <span class="input-group-text">
      <i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="col-md-6">
        <label class="form-label" for="timepicker1">Time</label>
        <div class="input-group">
            <input class="form-control input-small" id="timepicker1" type="text">
            <span class="input-group-text">
      <i class="fa fa-clock-o"></i></span>
        </div>
    </div>


    <div class="col-md-4">
        <label class="form-label" for="inputState">State</label>
        <select class="form-select" id="inputState">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-2">
        <label class="form-label" for="inputZip">Zip</label>
        <input class="form-control" id="inputZip" type="text">
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" id="gridCheck" type="checkbox">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>


<script type="text/javascript">


<!-- show date-->
        $(function() {
<!--Date setting-->
            $('#datetimepicker1').datepicker({
            format: 'dd/mm/yyyy',
                 autoclose: true,

            }).datepicker("setDate",'now');


<!--Date setting-->
$('#datetimepicker2').datepicker({
            format: 'dd/mm/yyyy',
                 autoclose: true,
                     startDate: new Date()
            });


<!-- Time set-->

           $('#timepicker1').datetimepicker({
			format: 'hh:mm:ss a',
			 icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }

		}).on("dp.change",function(e){
      var date = e.date;//e.date is a moment object
      var target = $(e.target).attr('name');
<!--      console.log(date.format("HH:mm:ss"))//get time by using format-->
  });






        });




<!--show ajax veh type-->

function showVehicles(inputString){
          $('#vehsuggestionList').show();

        if(inputString!=""){
        $.post('/getvehicle', {queryString: ""+inputString+""}, function(data){
        $('#vehsuggestionList').html(data);
                $('#vehsuggestionList').append(data.htmlresponse);
        });
        }

}

function fill(thisValue) {
  $('#inputvehtype').val(thisValue);
  $('#vehsuggestionList').hide();
  setTimeout("$('#vehsuggestionList').fadeOut();", 600);
}

function selectEndDate(){

console.log(String($('#datetimepicker1').val()));
var startdate = $('#datetimepicker1').val();

var formattedDate = new Date(startdate);

}

</script>


</body>

</html>

{% endblock %}
